<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Главная</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>
<body>
    {% block menu %}
    <div class="header">
        <div class="menu">
            <div>
                <a href="{% url 'main' %}"><div>Главная</div></a>
            </div>
            <div>
                <a href="{% url 'game' %}"><div>Игры</div></a>
            </div>
            <div>
                <a href="{% url 'genre' %}"><div>Жанры</div></a>
            </div>
            <div>
                <a href="{% url 'status' %}"><div>Подписки</div></a>
            </div>
            <div>
                <a href="{% url 'cart' %}"><div>Корзина</div></a>
            </div>
            <div>
                <a href="{% url 'account' %}"><div>Аккаунт</div></a>
            </div>
        </div>
    </div>
    {% endblock menu %}
</body>
</html>